@import "@/assets/scss/main";

.api-costs{
    // margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include media-up(lg) {
        gap: 40px;
    }
    @include media-up(md) {
        // margin-top: 120px;
    }
    &__subtitle{
        margin-top: 16px;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        letter-spacing: 0.32px;
        color: var(--color-secondary);
        a{
            color: var(--color-link);
        }
        @include media-up(md) {
            margin-top: 20px;
        }
        @include media-up(lg) {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 38.4px */
            letter-spacing: 0.4px;
        }
    }
    &__tabs{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
        border-radius: 100px;
        background: #F0DECA;
        padding: 4px;
        position: relative;
        &_left{
            &::after{
                animation: tabToLeft 0.4s forwards;
            }
        }
        &_right{
            &::after{
                animation: tabToRight 0.4s forwards;
            }
        }
        &::after{
            content: '';
            border-radius: 100px;
            display: block;
            width: calc(50% - 4px);
            height: calc(100% - 8px);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: #fdf1e4;
            z-index: 1;
        }
        &-item{
            padding: 16px;
            font-size: 16px;
            font-weight: 500;
            line-height: 140%;
            color: var(--color-secondary);
            border-radius: 100px;
            transition: 0.3s all;
            z-index: 2;
            &_active{
                color: var(--color-primary);
            }
            &:hover{
                transition: 0.3s all;
                color: var(--color-primary);
            }
        }
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 16px;
        flex-direction: column;
        gap: 16px;
        background: var(--color-grey-light-2);
        border-radius: 20px;
        @include media-up(sm) {
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
            padding: 24px;
            *{
                &:first-child, &:last-child{
                    grid-column: 1/3;
                }
            }
        }
        @include media-up(lg) {
            padding: 40px;
        }
        @include media-up(xl) {
            gap: 32px;
            padding: 60px;
        }
        &-item{
            padding: 16px;
            border-radius: 20px;
            background: var(--color-white);
            @include media-up(md) {
                padding: 24px;
            }
            @include media-up(lg) {
                padding: 32px;
            }
            &_disable{
                .api-costs__list-item{
                    &__header__button{
                        svg{
                            opacity: 0;
                        }
                    }
                }
            }
            &__header{
                display: flex;
                align-items: center;
                gap: 16px;
                &__title{
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 120%;
                    letter-spacing: 0.28px;
                    @include media-up(md) {
                        font-size: 16px;
                        letter-spacing: 0.32px;
                    }
                }
                &__button{
                    border-radius: 2px;
                    border: 2px solid #F0DECA;
                    background: #FDF1E4;
                }
                &__price{
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 140%;
                    margin-left: auto;
                }
            }
            &__subtitle{
                margin-top: 20px;
                font-size: 14px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: 0.28px;
                @include media-up(lg) {
                    margin-top: 24px;
                    font-size: 16px;
                    letter-spacing: 0.32px;
                }
            }
            &__price{
                margin-top: 24px;
                margin-left: auto;
                font-size: 16px;
                font-weight: 500;
                line-height: 140%;
            }
            &__replicas{
                cursor: text;
                display: block;
                margin-top: 24px;
                border-radius: 8px;
                background: var(--color-grey-light-2);
                width: 100%;
                padding: 7px 14px;
                line-height: 160%;
                position: relative;
                border: 2px solid transparent;
                &_active{
                    border: 2px solid #68BEFC;
                }
                @include media-up(md) {
                    max-width: calc(200px - 14px - 14px);
                }
                &__title{
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.48px;
                    color: var(--color-secondary);
                }
                input{
                    width: 100%;
                    background: var(--color-grey-light-2);
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0.32px;
                    color: var(--color-primary);
                    &:focus {
                        outline: none !important;
                    }
                }
            }
            &__fields{
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                margin-top: 20px;
                @include media-up(lg) {
                    flex-wrap: nowrap;
                }
                &_range{
                    flex-direction: column;
                    gap: 0;
                    flex-wrap: nowrap;
                    position: relative;
                    .api-costs__list-item__fields-item{
                        &__wrapper{
                            text-align: center;
                            cursor: default;
                        }
                    }
                }
                &_range_input{
                    flex-direction: column;
                    gap: 0;
                    flex-wrap: nowrap;
                    border-radius: 8px;
                    background: var(--color-grey-light-2);
                    position: relative;
                    cursor: text;
                    &__wrapper{
                        border-radius: 8px;
                        overflow: hidden;
                        padding: 9px 0 0 0;
                        &_active{
                            &::before{
                                content: '';
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                pointer-events: none;
                                width: 100%;
                                height: 100%;
                                border-radius: 8px;
                                border: 2px solid #68BEFC;
                                z-index: 2;
                            }
                        }
                    }
                    .api-costs__list-item__fields-item{
                        &__label{
                            padding: 0 16px 0 16px;
                        }
                    }
                }
                &_processors{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    margin-top: 20px;
                    justify-content: space-between;
                    @include media-up(md) {
                        flex-direction: row;
                    }
                    &__items{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 8px;
                    }
                    &__wrapper{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 140%;
                    }
                }
                &__remove{
                    display: block;
                    width: fit-content;
                    height: fit-content;
                    cursor: pointer;
                    svg{
                        overflow: visible;
                    }
                }
                &-wrapper{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 8px;
                    @include media-up(lg) {
                        flex-wrap: nowrap;
                    }
                }
                input{
                    width: fit-content;
                    max-width: 120px;
                    height: fit-content;
                    border-bottom: 1px solid var(--color-primary);
                    display: block;
                    padding: 5px;
                    margin-top: 9px;
                    border-radius: 0;
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &:focus {
                        outline: none !important;
                    }
                }
                &-item{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 140%;
                    color: var(--color-primary);
                    padding: 6px 14px;
                    border-radius: 100px;
                    border: 2px solid var(--color-grey-light-2);
                    background: var(--color-grey-light-2);
                    position: relative;
                    color: var(--color-secondary);
                    transition: 0.3s all;
                    &:hover{
                        transition: 0.3s all;
                        background: #E9E9E9;
                        color: var(--color-primary);
                        border: 2px solid #E9E9E9;
                    }
                    &_active{
                        border: 2px solid #F0DECA;
                        background: #FDF1E4;
                        color: var(--color-primary);
                        &:hover{
                            background: #FDF1E4;
                            border: 2px solid #F0DECA;
                            color: var(--color-primary);
                        }
                    }
                    @include media-up(md) {
                        font-size: 16px;
                    }
                    &__wrapper{
                        cursor: text;
                        display: block;
                        padding: 0 16px 0 16px;
                        input{
                            display: none;
                            width: 100%;
                            padding: 0;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 160%;
                            letter-spacing: 0.32px;
                            margin: 0;
                            background: var(--color-grey-light-2);
                            border-bottom: none;
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                            &:focus {
                                outline: none !important;
                            }
                        }
                        p{
                            display: block;
                        }
                        &_active{
                            input{
                                display: block;
                            }
                            p{
                                display: none;
                            }
                        }
                    }
                    &_number{
                        padding: 6px 21px;
                    }
                    &-range{
                        width: 100%;
                        height: 2px;
                        margin-top: 9px;
                        cursor: pointer;
                        &-track{
                            height: 2px;
                            border-radius: 8px;
                            bottom: 0;
                            cursor: pointer;
                            &:nth-child(1){
                                background: #68BEFC;
                            }
                            &:nth-child(2){
                                background: #D2D2D6;
                            }
                        }
                        &-thumb{
                            top: -7px;
                            bottom: 0px;
                            cursor: pointer;
                            &:focus{
                                outline: none !important;
                            }
                            svg{
                                overflow: visible;
                                &:focus{
                                    outline: none !important;
                                }
                            }
                            &_fake{
                                cursor: pointer;
                                z-index: 2 !important;
                                bottom: 0px;
                                display: flex;
                                align-items: center;
                                transform: translateY(7px);
                                &:focus{
                                    outline: none !important;
                                }
                            }
                        }
                    }
                    &__label{
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 160%;
                        letter-spacing: 0.48px;
                        color: var(--color-secondary);
                    }
                    &__prefix{
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 160%;
                        letter-spacing: 0.32px;
                    }
                }
            }
            &__warning{
                display: flex;
                align-items: flex-start;
                gap: 8px;
                margin-top: 16px;
                @include media-up(md) {
                    height: 20px;
                }
                svg{
                    overflow: visible;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 160%;
                    letter-spacing: 0.24px;
                    color: var(--color-secondary);
                }
            }
        }
    }
    &__result{
        border-radius: 20px;
        background: var(--color-white);
        padding: 16px;
        @include media-up(lg) {
            padding: 32px;
        }
        &_active{
            .api-costs__result{
                &__more{
                    svg{
                        transform: rotate(0) !important;
                    }
                }
                &__list{
                    max-height: 5000px;
                    transition: max-height 1s ease-in;
                }
            }
        }
        &__wrapper{
            display: block;
            @include media-up(md) {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
            }
        }
        &__title{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0.32px;
        }
        &__total{
            font-size: 32px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: -0.32px;
            text-align: right;
            color: var(--color-primary);
            margin-top: 16px;
            transition: 0.5s all;
            &_month{
                font-size: 32px;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: -0.32px;
                text-align: right;
            }
            &_hour{
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                letter-spacing: 0.32px;
            }
            &_free{
                display: block;
                transition: 0.5s all;
                &_disable{
                    font-size: 0;
                    transition: 0.5s all;
                }
            }
            &_disable{
                text-decoration: line-through;
                color: #BABFC9;
                margin-top: 16px;
            }
            &:first-child{
                margin-top: 0;
            }
        }
        &__more{
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.32px;
            color: var(--color-link);
            margin: 24px 0 0 auto;
            svg{
                overflow: visible;
                transform: rotate(180deg);
            }
        }
        &__list{
            max-height: 0;
            transition: max-height 0.25s ease-out;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 24px;
            &-item{
                position: relative;
                padding-bottom: 16px;
                &::after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: #D2D2D6;
                    opacity: 0.7;
                }
                &:last-child{
                    &::after{
                        content: none;
                    }
                }
                &__wrapper{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    @include media-up(md) {
                        align-items: center;
                    }
                    &_left{
                        display: flex;
                        flex-direction: column;
                        @include media-up(md) {
                            flex-direction: row;
                            gap: 24px;
                            align-items: center;
                        }
                        p{
                            &:first-child{
                                min-width: 160px;
                            }
                        }
                    }
                    p{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 160%;
                        letter-spacing: 0.32px;
                        color: var(--color-primary);
                        &:first-child{
                            color: var(--color-secondary);
                        }
                    }
                }
            }
        }
    }
}

@keyframes tabToLeft {
    0%{
        left: calc(50% - 4px);
    }
    50%{
        left: calc(4px - 20px)
    }
    75%{
        left: calc(4px + 5px);
    }
    100%{
        left: 4px;
    }
}

@keyframes tabToRight {
    0%{
        left: 4px;
    }
    50%{
        left: calc(50% + 20px);
    }
    75%{
        left: calc(50% - 5px);
    }
    100%{
        left: 50%;
    }
}