@import "../../assets/scss/main";

.cards {
  display: flex;
  flex-direction: column;

  @include media-up(md) {
    gap: 40px;
    padding: 60px 24px;
  }

  @include media-up(lg) {
    padding: 60px 36px;
  }

  @include media-up(xl) {
    padding: 80px 64px;
  }

  &__title {
    min-width: 611px;
    font-family: DIN Pro;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 2px rgb(43, 43, 43);
    text-shadow: rgb(43, 43, 43) 4px 4px;
  }
  &__button {
    display: flex;
    width: fit-content;
    padding: 12px 24px;
    background: rgba(236, 106, 59, 1);
    border: 1px solid rgba(43, 43, 43, 1);
    box-shadow: 2px 2px 0px 0px rgba(43, 43, 43, 1);
    border-radius: 200px;
    font-family: DIN Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @include media-up(md) {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 185px;
    }

    @include media-up(xl) {
      gap: 32px;
    }
  }

  &__blob-1 {
    position: absolute;
    left: -620px;
    top: -570px;
    z-index: 0;
    pointer-events: none;
    user-select: none;

    @include media-up(md) {
      top: -300px;
      left: -640px;
    }

    @include media-up(lg) {
      top: -800px;
      right: 450px;
      left: auto;
      transform: rotate(-30deg);
    }

    img {
      mix-blend-mode: multiply;
      min-width: 1190.528px;
      min-height: 433.622px;
      max-width: none;

      @include media-up(md) {
        min-width: 1694px;
        min-height: 617px;
      }
    }
  }

  &__blob-2 {
    position: absolute;
    right: -250px;
    bottom: -840px;
    mix-blend-mode: overlay;
    z-index: 2;
    pointer-events: none;
    user-select: none;
  }
}

.cards-item {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 3px solid var(--color-gray-dark);

  @include media-up(lg) {
    height: 100%;
  }

  p {
    position: relative;
    z-index: 3;
  }

  &__text {
    width: 100%;
    text-align: center;
    @include media-up(lg) {
      font-size: 20px;
    }
  }

  &__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.24px;
    margin-bottom: 8px;

    @include media-up(lg) {
      font-size: 32px;
    }
  }
}
