@import "@/assets/scss/main";

.pay-benefits{
    display: grid;
    gap: 32px;
    margin-top: 48px;
    @include media-up(sm) {
        margin-top: 80px;
    }
    @include media-up(lg) {
        grid-template-columns: repeat(3, 1fr);
    }
    &__item{
        border-radius: 20px;
        box-shadow: 0px 0px 7.95429px 0px rgba(0, 0, 0, 0.04), 0px 0px 3px 0px rgba(0, 0, 0, 0.24);
        padding: 24px;
        background: var(--color-white);
        overflow: hidden;
        flex-direction: column;
        width: 100%;
        transition: 0.3s all;
        display: grid;
        &:nth-child(2){
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04), 0 0 2px 0 rgba(0, 0, 0, 0.12);
            background: var(--color-gray-light);
            position: relative;
            // &::before{
            //     content: '';
            //     display: block;
            //     background: url('../../../public/blub-blue.svg') center center/cover no-repeat;
            //     width: 1694px;
            //     height: 617px;
            //     filter: blur(55.5px);
            //     fill: #68BEFC;
            //     position: absolute;
            //     bottom: -20px;
            //     left: 50%;
            //     transform: translateX(-50%) rotate(-69.422deg);
            //     mix-blend-mode: multiply;
            //     z-index: 1;
            //     pointer-events: none;
            //     @include media-up(sm) {
            //         left: 40%;
            //         top: -177px;
            //     }
            // }
            // &::after{
            //     content: "";
            //     display: block;
            //     background: url('/_next/static/media/blub-orange.94a87fda.svg') center center/cover no-repeat;
            //     width: 1772.314px;
            //     height: 586.141px;
            //     filter: blur(55.5px);
            //     position: absolute;
            //     bottom: 20px;
            //     left: 100%;
            //     transform: translateX(-50%) rotate(100.963deg);
            //     mix-blend-mode: overlay;
            //     z-index: 1;
            //     pointer-events: none;
            //     @include media-up(sm) {
            //         right: 10%;
            //         transform: translateX(50%) rotate(100.963deg);
            //         left: auto;
            //     }
            // }
            button{
                background: var(--color-primary);
                color: var(--color-white);
                border: none;
                &:hover {
                    background: var(--color-secondary);
                }
            }
        }
        &:hover{
            transition: 0.3s all;
            box-shadow: 0px 2.5182px 2.21381px 0px rgba(0, 0, 0, 0.02), 0px 6.05159px 5.32008px 0px rgba(0, 0, 0, 0.02), 0px 11.39461px 10.01724px 0px rgba(0, 0, 0, 0.03), 0px 20.32604px 17.86905px 0px rgba(0, 0, 0, 0.04), 0px 38.01762px 33.42209px 0px rgba(0, 0, 0, 0.04), 0px 91px 80px 0px rgba(0, 0, 0, 0.06), 0px 0px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
        }
        @include media-up(lg) {
            padding: 48px 40px;
        }
        &__wrapper{
            // height: fit-content;
        }
        h3{
            font-size: 28px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: -0.28px;
            z-index: 2;
            @include media-up(lg) {
                font-size: 32px;
                font-weight: 700;
                line-height: 110%;
                letter-spacing: -0.32px;
            }
            @include media-up(xl) {
                font-size: 40px;
                font-weight: 700;
                line-height: 110%;
                letter-spacing: -0.4px;
            }
        }
        &__description{
            margin-top: 12px;
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0.32px;
            color: var(--color-secondary);
            z-index: 2;
            @include media-up(xl) {
                font-size: 18px;
                letter-spacing: 0.36px;
            }
        }
        &__subtitle{
            margin-top: 12px;
            font-size: 24px;
            font-weight: 400;
            line-height: 110%;
            letter-spacing: -0.24px;
            color: var(--color-primary);
            @include media-up(xl) {
                margin-top: 20px;
                font-size: 28px;
                letter-spacing: -0.28px;
            }
        }
        &__list{
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            position: relative;
            z-index: 2;
            margin-bottom: 44px;
            &-item{
                display: flex;
                align-items: center;
                gap: 16px;
                p{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 160%;
                    letter-spacing: 0.32px;
                    @include media-up(xl) {
                        font-size: 18px;
                        letter-spacing: 0.36px;
                    }
                }
                svg{
                    overflow: visible;
                    @include media-up(xl) {
                        width: 26px;
                        height: 26px;
                    }
                }
            }
        }
        &__button{
            box-sizing: border-box;
            z-index: 2;
            color: var(--color-primary);
            background: none;
            border: 1px solid var(--color-primary);
            font-size: 18px;
            border-radius: 12px;
            width: 100%;
            height: 44px;
            transition: 0.2s all;
            &:hover {
                transition: 0.2s all;
                border-color: var(--color-secondary-button-hover);
            }
            @include media-up(md) {
                height: 72px;
            }
            @include media-up(lg) {
                margin-top: auto;
            }
            a{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}