@import "@/assets/scss/main";

.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 16px 24px 20px 24px;
    background: var(--color-white);
    cursor: pointer;
    box-shadow: 0px -1px 1px 0px rgba(39, 33, 12, 0.06), 0px -1px 1px 0px rgba(39, 33, 12, 0.04), 0px -3px 1px 0px rgba(39, 33, 12, 0.01), 0px -4px 1px 0px rgba(39, 33, 12, 0.00);
    transition: 0.5s all;
    opacity: 1;
    pointer-events: all;
    &_disable{
        transition: 0.5s all;
        opacity: 0;
        pointer-events: none;
    }
    @include media-up(sm) {
        display: none;
    }
    p{
        font-weight: 400;
        &:first-child{
            font-size: 14px;
            line-height: 120%;
            letter-spacing: 0.28px;
        }
        &:last-child{
            font-size: 24px;
            line-height: 100%;
            letter-spacing: -0.24px;
        }
    }
}