@import "../../assets/scss/main";

.footer--new {
  position: relative;
  background: rgba(71, 125, 192, 1);

  &__close {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 383px;
      background: url("/footer_water.svg") center center/cover no-repeat;
      position: absolute;
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 126px;
      background: url("/footer_sand.svg") center center/cover no-repeat;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;
    }

    min-height: 900px;

    &__bubble {
      position: absolute;
      z-index: 2;

      &_1 {
        top: 252px;
        left: 153px;
      }

      &_2 {
        top: 420px;
        left: 80px;
      }

      &_3 {
        top: -30px;
        right: 224px;
      }

      &_4 {
        top: 0px;
        right: 204px;
      }

      &_5 {
        top: 216px;
        right: 113px;
      }

      &_6 {
        top: 256px;
        right: 133px;
      }

      &_7 {
        bottom: 162px;
        right: 224px;
      }

      &_8 {
        bottom: 142px;
        right: 204px;
      }
    }

    &__tutorials {
      width: fit-content;
      position: absolute;
      top: 46px;
      left: 26px;

      &__button {
        position: absolute;
        top: 70%;
        left: 40%;
        display: block;
        width: fit-content;
        transform: rotate(7deg) translateX(-50%) translateY(-50%);

        &:hover {
          transform: rotate(7deg) translateX(-50%) translateY(calc(-50% - 4px));
        }
      }
    }

    &__blog {
      z-index: 1;
      width: fit-content;
      position: relative;
      top: 206px;
      left: 243px;

      &__button {
        position: absolute;
        top: 33%;
        left: 33%;
        display: block;
        width: fit-content;
        transform: rotate(8deg) translateX(-50%) translateY(-50%);

        &:hover {
          transform: rotate(8deg) translateX(-50%) translateY(calc(-50% - 4px));
        }
      }
    }

    &__docs {
      z-index: 1;
      width: fit-content;
      position: absolute;
      top: 162px;
      right: 229px;

      &__button {
        position: absolute;
        top: 45%;
        left: 52%;
        display: block;
        width: fit-content;
        transform: rotate(-5deg) translateX(-50%) translateY(-50%);

        &:hover {
          transform: rotate(-5deg) translateX(-50%) translateY(calc(-50% - 4px));
        }
      }
    }

    &__tokenomics {
      z-index: 1;
      width: fit-content;
      position: absolute;
      top: 25px;
      right: 54px;

      &__button {
        position: absolute;
        top: 70%;
        left: 52%;
        display: block;
        width: fit-content;
        transform: rotate(4deg) translateX(-50%) translateY(-50%);

        &:hover {
          transform: rotate(4deg) translateX(-50%) translateY(calc(-50% - 4px));
        }
      }
    }

    &__github {
      z-index: 1;
      width: fit-content;
      position: absolute;
      top: 465px;
      right: 42px;

      &__button {
        position: absolute;
        top: 70%;
        left: 52%;
        display: block;
        width: fit-content;
        transform: rotate(4deg) translateX(-50%) translateY(-50%);

        &:hover {
          transform: rotate(4deg) translateX(-50%) translateY(calc(-50% - 4px));
        }
      }
    }

    &__whitepaper {
      z-index: 1;
      width: fit-content;
      position: absolute;
      top: 734px;
      right: 255px;

      &__button {
        position: absolute;
        top: 45%;
        left: 50%;
        display: block;
        width: fit-content;
        transform: rotate(-3deg) translateX(-50%) translateY(-50%);

        &:hover {
          transform: rotate(-3deg) translateX(-50%) translateY(calc(-50% - 4px));
        }
      }
    }

    &__x {
      z-index: 1;
      width: fit-content;
      position: absolute;
      top: 423px;
      left: 29px;

      &__button {
        position: absolute;
        top: 70%;
        left: 55%;
        display: block;
        width: fit-content;
        transform: rotate(-9deg) translateX(-50%) translateY(-50%);

        &:hover {
          transform: rotate(-9deg) translateX(-50%) translateY(calc(-50% - 4px));
        }
      }
    }

    &__monkey {
      z-index: 1;
      position: absolute;
      top: 78px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__bear {
      z-index: 1;
      position: absolute;
      top: 527px;
      left: 154px;
    }

    &__chest {
      z-index: 1;
      position: absolute;
      bottom: 0px;
      left: 49%;
      transform: translateX(-50%);
    }

    &__block {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      z-index: 1;
      bottom: 180px;
      left: 50%;
      transform: translateX(-50%);

      h2 {
        text-align: center;
        font-size: 64px;
        font-weight: 900;
        -webkit-text-stroke: 1px rgb(43, 43, 43);
        color: rgb(255, 255, 255);
        text-shadow: rgb(43, 43, 43) 4px 4px;
        line-height: 72px;
      }
    }
  }

  &__open {
    padding-top: 40px;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 383px;
      background: url("/footer_water.svg") center center/cover no-repeat;
      position: absolute;
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    &__wrapper {
      height: 900px;
      background: url("/footer_open_background.svg") center center/cover
        no-repeat;
    }

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      h1 {
        color: #fff;
        font-size: 64px;
        font-weight: 700;
        line-height: 80.13px;
        text-align: center;
      }

      &__button {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    &__bottom {
      background: #ffff;
      width: 100%;
      margin-top: -30px;
      padding: 40px 80px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
      }

      &__logo {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media (max-width: 600px) {
          align-items: center;
        }
        h3 {
          color: rgba(43, 43, 43, 0.6);
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
        }

        &__item {
          display: flex;
          align-items: center;
          gap: 12px;

          a {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
          }
        }
      }

      &__adress {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        @media (max-width: 600px) {
          text-align: center;
          text-wrap: nowrap;
        }
      }
    }
  }
}
