@import "../../assets/scss/main";

.enterprise {
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;

  @include media-up(md) {
    max-width: 468px;
    margin: 0 auto;
    gap: 32px;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }

  &__items {
    display: grid;
    grid-template-columns: 100%;
    gap: 24px;

    @include media-up(md) {
      gap: 32px;
    }
  }

  &__image {
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04), 0 0 3px 0 rgba(0, 0, 0, 0.24);
  }

  &__buttons{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}