@import "../../assets/scss/main";

.indexer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    @include media-up(sm) {
        gap: 30px;
    }
    @include media-up(lg) {
        gap: 40px;
    }
    &__header{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    &__radio{
        display: flex;
        align-items: center;
        margin: 0 auto;
        position: relative;
        &__button{
            padding: 14px 0;
            width: 160px;
            border-radius: 100px;
            transition: 0.3s all;
            z-index: 1;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 14px */
            letter-spacing: 0.28px;
            &_active{
                animation: radio 0.3s forwards
            }
        }
        &::after{
            content: '';
            display: block;
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            background: var(--color-primary);
            transition: 0.3s all;
            border-radius: 100px;
            box-shadow: 0px 4px 14px 0px rgba(42, 42, 42, 0.30);
        }
        &_left{
            &::after{
                left: 0;
            }
        }
        &_right{
            &::after{
                left: 50%;
            }
        }
    }
}

@keyframes radio {
    0%{
        color: inherit;
    }
    80%{
        color: var(--color-white);
    }
    100%{
        color: var(--color-white);
    }
}