@import "../../assets/scss/main";

.indexer{
    margin-bottom: 60px;
    background: var(--color-grey-light-2);
    padding: 100px 0;
    &__container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include media-up(sm) {
            gap: 30px;
        }
        @include media-up(lg) {
            gap: 40px;
        }
    }
    &__header{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    &__radio{
        display: flex;
        align-items: center;
        margin: 0 auto;
        position: relative;
        border-radius: 20px;
        background: var(--color-white);
        &__button{
            padding: 14px 0;
            width: 160px;
            border-radius: 100px;
            transition: 0.3s all;
            z-index: 1;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 14px */
            letter-spacing: 0.28px;
            &:hover{
                color: var(--color-link-menu-hover)
            }
            &_active{
                animation: radio 0.3s forwards
            }
        }
        &::after{
            content: '';
            display: block;
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            background: var(--color-primary);
            transition: 0.3s all;
            border-radius: 100px;
            box-shadow: 0px 4px 14px 0px rgba(42, 42, 42, 0.30);
        }
        &_left{
            &::after{
                left: 0;
            }
        }
        &_right{
            &::after{
                left: 50%;
            }
        }
    }
    &__wrapper{
        display: grid;
        gap: 10px;
        @include media-up(sm){
            grid-template-columns: 1fr;
            gap: 20px;
        }
        @include media-up(lg) {
            grid-template-columns: 191px 1fr;
            // grid-template-rows: 300px;
            gap: 16px;
        }
        @include media-up(xl) {
            grid-template-columns: 300px 1fr;
            // grid-template-rows: 300px;
            gap: 16px;
        }
    }
    &__tabs{
        display: flex;
        grid-row: 2/2;
        gap: 10px;
        overflow-x: scroll;
        padding-bottom: 10px;
        @include media-up(sm){
            justify-content: space-between;
            gap: 21px;
            overflow: auto;
            padding-bottom: 0;
        }
        @include media-up(lg) {
            flex-direction: column;
            gap: 16px;
            grid-row: auto;
        }
        &__item{
            transition: 0.3s all;
            color: var(--color-link-menu-hover);
            cursor: pointer;
            display: grid;
            grid-template-columns: 20px 1fr;
            align-items: center;
            gap: 5px;
            padding: 14px 16px;
            background: var(--color-white);
            border-radius: 100px;
            @include media-up(sm){
                width: 100%;
                grid-template-columns: auto;
                padding: 15px;
                border-radius: 15px;
            }
            @include media-up(lg) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0;
                padding: 0;
                height: 100%;
                padding: 0 20px;
                &:hover{
                    box-shadow: 0px 2.518px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.052px 5.32px 0px rgba(0, 0, 0, 0.02), 0px 11.395px 10.017px 0px rgba(0, 0, 0, 0.03);
                    color: var(--color-primary);
                    .indexer__tabs__item__images{
                        img{
                            &:first-child{
                                opacity: 1;
                                position: static;
                            }
                            &:last-child{
                                opacity: 0;
                                position: absolute;
                            }
                        }
                    }
                }
            }
            @include media-up(xl) {
                padding: 0 30px;
            }
            &_active{
                box-shadow: 0px 2.518px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.052px 5.32px 0px rgba(0, 0, 0, 0.02), 0px 11.395px 10.017px 0px rgba(0, 0, 0, 0.03);
                color: var(--color-primary);
                .indexer__tabs__item__images{
                    img{
                        &:first-child{
                            opacity: 1;
                            position: static;
                        }
                        &:last-child{
                            opacity: 0;
                            position: absolute;
                        }
                    }
                }
            }
            p{
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 14px */
                letter-spacing: 0.28px;
                white-space: nowrap;
                @include media-up(sm) {
                    white-space: normal;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%; /* 16px */
                    letter-spacing: 0.32px;
                    text-align: center;
                    margin: 0 auto;
                }
                @include media-up(lg) {
                    margin: 0;
                    text-align: left;
                    max-width: 115px
                }
            }
            &__images{
                position: relative;
                grid-row: 1/1;
                margin: 0;
                @include media-up(sm){
                    margin: 0 auto;
                }
                @include media-up(lg) {
                    margin: 0;
                }
                img{
                    transition: 0.3s all;
                    top: 0;
                    left: 0;
                    &:first-child{
                        opacity: 0;
                        position: absolute;
                    }
                    &:last-child{
                        opacity: 1;
                        position: static;
                    }
                }
            }
        }
    }
    &__block{
        border-radius: 20px;
        background: var(--color-white);
        overflow: hidden;
        &__wrapper{
            transition: 0.3s all;
            position: relative;
            height: 100%;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(3, 100%);
            left: -50%;
        }
        &__inner{
            overflow: hidden;
            &__wrapper{
                transition: 0.3s all;
                position: relative;
                height: 100%;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(2, 100%);
            }
            &:nth-child(1){
                grid-column: 1/2;
            }
            &:nth-child(2){
                grid-column: 2/3;
            }
            &:nth-child(3){
                grid-column: 3/4;
            }
            &__with, &__without{
                display: grid;
                gap: 15px;
                height: 100%;
                box-sizing: border-box;
                padding: 20px;
                @include media-up(sm) {
                    grid-template-columns: repeat(3, 1fr);
                }
                @include media-up(md) {
                    gap: 8px;
                    padding: 30px 30px;
                }
                @include media-up(lg) {
                    padding: 36px 48px;
                }
            }
            &__left, &__right{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                // background: var(--color-white);
                border-radius: 20px;
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
                padding: 20px;
                @include media-up(sm) {
                    padding: 36px;
                    gap: 24px;
                }
            }
            &__right{
                &_center{
                    text-align: center;
                    padding: 0;
                    justify-content: center;
                    box-shadow: none;
                    .indexer__block__inner__header{
                        color: var(--color-secondary-button-hover)
                    }
                }
            }
            &__center{
                display: flex;
                gap: 10px;
                align-items: center;
                position: relative;
                justify-content: center;
                flex-direction: column;
                width: fit-content;
                margin: 0 auto;
                @include media-up(sm) {
                    height: auto;
                    flex-direction: row;
                    overflow: hidden;
                    justify-content: center;
                    width: auto;
                    margin: 0;
                }
                &__wrapper{
                    z-index: 1;
                    position: absolute;
                    top: 40%;
                    transform: translateY(-50%);
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;
                    max-width: 70%;
                    @include media-up(sm) {
                        top: 50%;
                        flex-direction: row;
                        max-width: 80%;
                        padding-left: 10px;
                    }
                    img{
                        width: auto;
                        max-height: 40px;
                    }
                    p{
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 130%; /* 20.8px */
                        letter-spacing: 0.32px;
                        color: var(--color-white);
                        text-align: center;
                        @include media-up(sm) {
                            text-align: left;
                        }
                    }
                }
                &_arrow{
                    position: relative !important;
                    z-index: 0 !important;
                    // width: 220px !important;
                    max-height: none !important;
                    // height: 218px !important;
                    // margin-top: 20px;
                    @include media-up(sm) {
                        width: auto !important;
                        height: auto !important;
                    }
                }
            }
            &__header{
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 180%; /* 28.8px */
                letter-spacing: 0.32px;
                @include media-up(sm) {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 24px */
                    letter-spacing: -0.2px;
                }
            }
            &__images, &__items{
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            &__images{
                flex-direction: row;
                gap: 20px;
                @include media-up(sm) {
                    flex-direction: column;
                    gap: 12px;
                }
                &_item{
                    display: flex;
                    align-items: center;
                    max-height: 30px;
                }
                img{
                    width: auto;
                    height: inherit;
                    max-height: inherit;
                }
            }
            &__image{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                height: 90px;
                width: 90px;
                position: relative;
                &::before{
                    content: '';
                    width: 110%;
                    height: 120%;
                    display: block;
                    // background: var(--color-secondary-button-hover);
                    border-radius: 100%;
                    position: absolute;
                    top: 5%;
                    left: -5%;
                    background: url('@/../../../../public/diagrams/logo_circle.svg') center no-repeat;
                    z-index: 0;
                    fill: linear-gradient(180deg, #F4F4F7 0%, #C9E1F6 100%);
                    // filter: drop-shadow(0px 2.518px 2.214px rgba(0, 0, 0, 0.02)) drop-shadow(0px 6.052px 5.32px rgba(0, 0, 0, 0.02)) drop-shadow(0px 11.395px 10.017px rgba(0, 0, 0, 0.03));
                }
                img{
                    height: 60px;
                    width: auto;
                    z-index: 1;
                }
            }
            &__item{
                display: flex;
                gap: 11px;
                align-items: center;
                &_img{
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        mix-blend-mode: luminosity;
                        width: auto;
                        height: inherit;
                    }
                }
                
            }
        }
    }
}

@keyframes radio {
    0%{
        color: inherit;
    }
    80%{
        color: var(--color-white);
    }
    100%{
        color: var(--color-white);
    }
}