.developers {
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;
  position: relative;
  z-index: 0;

  &__wrapper {
    overflow: hidden;
  }

  &__blob-1 {
    position: absolute;
    top: -207px;
    left: -692px;
    z-index: 0;
    pointer-events: none;
    user-select: none;
    mix-blend-mode: multiply;
  }

  &__blob-2 {
    position: absolute;
    bottom: -250px;
    right: -1650px;
    z-index: 0;
    pointer-events: none;
    user-select: none;
  }

  &__header {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .swiper {
    width: 100%;
  }

  &__main {

  }

  .swiper-grid .swiper-wrapper {
    flex-direction: row !important;

    .swiper-slide {
      margin-top: 16px !important;
      height: 100%;
    }
  }

  .swiper-pagination {
    display: none;
  }

  &__title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 24px;

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      margin: 0 12px;
    }
  }
}

.DeveloperCard {
  padding: 4px;
  height: 100%;

  &__wrapper {
    border-radius: 12px;
    background: var(--color-white);
    display: grid;
    padding: 32px;
    gap: 20px;
    height: 100%;
    min-height: 200px;
    grid-template-rows: auto 1fr;
    position: relative;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
}

.DeveloperCardHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;

  &__avatar {
    border-radius: 50%;
    object-fit: cover;
  }

  &__social {
    img {
      margin-top: 8px;
      height: 19px;
      object-fit: contain;
    }
  }

  &__info {
    display: grid;
    align-items: center;
    grid-template-columns: 38px 1fr;
    gap: 8px;
  }

  &__data {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__name {
    color: var(--color-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0.32px;
  }

  &__slug {
    color: var(--color-secondary);
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.36px;
  }
}

.DeveloperCardMain {
  p {
    color: var(--color-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: 140%;

    &:not(:last-child) {
      margin-bottom: 1.5em;
    }
  }

  a {
    color: var(--buttons-button-default, #3880EC);
  }
}

.DeveloperBullet {
  position: relative;
  z-index: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;

  img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    filter: grayscale(100%);
    border: 2px solid var(--background, #F6F8FB);
    object-fit: cover;
    transition: .2s;
    outline: 2px solid transparent;
  }

  svg {
    position: absolute;
    top: 25px;
    left: 25px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s;
  }
}


.Thumbs {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 20px;

  &__slider {
    margin: 0 !important;
    max-width: 260px;
    display: inline-block !important;

    @media (max-width: 340px) {
      max-width: 230px;
    }
  }

  .swiper {
    padding: 10px 10px;
    margin: 0 -10px;
  }

  .swiper-slide {
    position: relative;
    left: 20px;
    opacity: 0;
    transition: opacity .3s;
    width: 48px;
    height: 48px;

    &.swiper-slide-visible, &.swiper-slide-prev, &.swiper-slide-next {
      opacity: 1;
    }

    &.swiper-slide-next {
      & + .swiper-slide,
      & + .swiper-slide + .swiper-slide,
      & + .swiper-slide + .swiper-slide + .swiper-slide,
      & + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide,
      & + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {
        opacity: 1;
      }
    }

    &.swiper-slide-thumb-active {
      z-index: 9999 !important;

      .DeveloperBullet {
        border-color: var(--buttons-button-default, #3880EC);

        img {
          filter: none;
        }

        svg {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__arrow {
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 0;
    background: none;
    align-items: center;
    justify-content: space-between;
    transition: opacity .3s;

    &:hover {
      background: none;
      opacity: 0.5;
    }
  }

  &__arrows {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
  }
}
