@import "assets/scss/main";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2B2B2B;
  --color-secondary: #525C70;
  --color-body: #fff;

  --color-link: #3880EC;
  --color-gray-dark: #D3D3D3;
  --color-gray-light: #F2F2F2;
  --color-secondary-button-stroke: #ADADAD;
  --color-white: #fff;
  --color-grey-light-2: #F3F3F6;
  --color-link-menu-hover: #858FA4;
  --color-secondary-button-hover: #C7C7C7;
}

html, body {
  color: var(--color-primary);
  background: var(--color-body);
  overflow-x: hidden;
  font-family: Inter, sans-serif;

}

body {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  position: relative;
  z-index: 1;
}

.container {
  max-width: 1224px;
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
  display: block;

  @include media-up(md) {
    padding: 0 24px;
  }

  @include media-up(xl) {
    padding: 0;
  }
}

h1, .h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.48px;

  @include media-up(lg) {
    font-size: 80px;
  }

  @include media-up(xxl) {
    font-size: 100px;
  }
}

h1 i, .h1 i {
  font-weight: normal;
}

h2, .h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.28px;
  text-align: center;

  @include media-up(lg) {
    font-size: 44px;
  }

  @include media-up(xxl) {
    font-size: 56px;
  }
}

h3, .h3 {
  font-size: 36px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.36px;

  @include media-up(lg) {
    font-size: 36px;
    line-height: 100%;
  }
}

.subtitle {
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.32px;

  @include media-up(lg) {
    font-size: 24px;
    line-height: 160%;
  }
}

p, .paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.32px;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  display: inline-flex;
  height: 36px;
  padding: 14px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  outline: none;
  box-shadow: none;
  border: none;
  background: none;
  margin: 0;
  transition: .2s;

  &--outline {
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);

    &:hover {
      border-color: var(--color-secondary-button-hover);
    }

    &:focus {
      border-color: var(--color-primary);
    }
  }

  &--primary {
    border-radius: 4px;
    background: var(--color-primary);
    color: var(--color-white);

    &:hover {
      background: var(--color-secondary);
    }

    &:focus {
      background: var(--color-primary);
    }
  }
}

.sections {
  display: grid;
  grid-template-columns: 100%;
  gap: 60px;

  @include media-up(md) {
    gap: 100px;
  }

  @include media-up(lg) {
    gap: 140px;
  }

  @include media-up(xl) {
    gap: 160px;
  }

  @include media-up(xxl) {
    gap: 250px;
  }
}

.main {
  margin-top: 76px;
  overflow: hidden;
  padding-bottom: 60px;

  @include media-up(md) {
    margin-top: 120px;
    padding-bottom: 100px;
  }

  @include media-up(lg) {
    margin-top: 212px;
    padding-bottom: 140px;
  }

  // @include media-up(xl) {
  //   margin-top: 130px;
  //   padding-bottom: 160px;
  // }

  // @include media-up(xxl) {
  //   margin-top: 250px;
  //   padding-bottom: 250px;
  // }

  @include media-up(xl) {
    margin-top: 212px;
    padding-bottom: 250px;
  }
}


.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms linear;
}

.imprint {
  padding-top: 52px + 24px;
  padding-bottom: 64px;

  @include media-up(lg) {
    margin-top: 120px;
    padding-bottom: 120px;
  }

  @include media-up(xxl) {
    margin-top: 200px;
    padding-bottom: 200px;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }

  h1, .h1 {
    font-size: 48px;
    font-weight: bold;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    width: 100%;
    gap: 1em;
  }

  h3, .h3 {
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.4px;
  }

  h4, .h4 {
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0.32px;
  }

  p {
    color: var(--color-secondary);
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.32px;
    word-break: break-word;
  }

  a {
    text-decoration: underline;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
  }
}