@import "../../assets/scss/main";

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 40px 16px;
  border-radius: 20px;
  background: var(--color-gray-light);
  position: relative;
  overflow: hidden;

  @include media-up(md) {
    gap: 40px;
    padding: 60px 24px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @include media-up(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__blob-1 {
    position: absolute;
    left: -623px;
    top: -568px;
    mix-blend-mode: multiply;
    z-index: 0;
    pointer-events: none;
    user-select: none;
  }

  &__blob-2 {
    position: absolute;
    right: -250px;
    bottom: -840px;
    mix-blend-mode: overlay;
    z-index: 2;
    pointer-events: none;
    user-select: none;
  }
}

.cards-item {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 3px solid var(--color-gray-dark);

  p {
    position: relative;
    z-index: 3;
  }

  &__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.24px;
    margin-bottom: 8px;
  }
}